
.boxProduct{
    background-color: rgb(236, 236, 236);
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product{
    background-color: rgb(255, 255, 255);
}

.imgProduto{
    height: 300px;
    width: auto;
}

.boxInfoProdutos{
    background-color: aqua;
    padding: 15px;
    flex-direction: column;
    gap: 5px;
}

.boxInfoProdutos > *{
    border: 1px solid gray;

}