
.boxProduct{
    /* background-color: rgb(236, 236, 236); */
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    
}

.product{
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 0px;
}

.containerImg{
    height: 200px;
    overflow: hidden;
}

.imgProduto{
    height: 100%;
    width: fit-content;
    /* background-color: red; */
}

.boxInfoProdutos{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    padding-top: 10px;
}

.boxInfoProdutos > *{
    /* border: 1px solid gray; */

}