.boxProduct {
    /* background-color: rgb(236, 236, 236); */
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    /* background-color: red; */
    padding-bottom: 30px;
}

.product {
    width: 200px;
    background-color: rgb(255, 255, 255);
    /* background-color: aqua; */
    border: 0px;
    color: black;
}

.containerImg {
    height: 200px;
    overflow: hidden;
    /* border: 1px solid gray; */

}

.imgProduto {
    height: 100%;
    width: auto;
    transition: 0.5s;
    /* background-color: red; */
}

.imgProduto:hover {
    transform: scale(1.1);
}

.boxInfoProdutos {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    padding-top: 10px;
}

.boxInfoProdutos>* {
    /* border: 1px solid gray; */

}

@media screen and (max-width: 700px) {
    .product {
        width: auto;
    }

    .containerImg {
        height: auto;
        width: 100%;
    }

    .imgProduto{
        width: 100%;
        height: auto;
    }
}