
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    background-clip: content-box;
    border: 1px solid;
}

.containerHeader {
    width: 100%;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    padding: 10px;
}

.logoHeader {
    height: 80px;
    border-radius: 50%;
}


.menuHeader{
    display: flex;
    /* background-color: red; */
    width: 100%;
    transition: 0.5s;
}

.menuHeader ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    
}

.menuHeader li{
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: large;
}

.menuHeader li:hover {

    background-color: rgba(255, 255, 255, 0.2);

}

.menuHeader li > p{
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: white;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    padding: 10px;
    transition: 0.5s;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

button svg{
    font-size: 2rem;
    color:  white;
}

.liBtnMenu{
    display: none;
}

@media screen and (max-width: 650px) {

    .menuHeader {
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 101%;
        left: 0px;
        height: 100vh;
        top: 0px;
        z-index: 2;
        border-right: black 1px solid;
    }

    .menuHeader ul{
        display: block;
        list-style: none;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
        overflow: scroll;
        padding: 0px;
    }

    .menuHeader li{
        display: inline-block;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 100%;
        font-weight: auto;
        flex: 0;
        text-align: left;
    }

    .liBtnMenu{
        display: flex !important;
        background-color: black;
        justify-content: space-between;
        padding-block: 10px;
    }

    .liBtnMenu:hover{
        background-color: black !important;
    }

    .liBtnMenu button{
        display: flex;
        align-items: center;
        gap: 5px;
        /* background-color: aqua; */
        font-size: 1em;
        color: white;
    }


    .menuHeader li > p{
        padding: 15px;
        font-size: 1rem;
        color: rgb(0, 0, 0);
    }
}