
.boxProduct{
    /* background-color: aquamarine; */
    padding: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    border: 1px solid;
    flex-wrap: wrap;
}

.boxImgsProduct{
    /* background-color: blue; */
    padding: 10px;
    flex-shrink: 1;
    /* flex: 1; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxImgsProduct img{

    width: 100%;
    

    
    
}


/* Informações do produto */


.boxInfoProduct{
    /* background-color: antiquewhite; */
    padding: 10px;
    flex: 1;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.boxInfoProduct h2{
    font-size: 200%;
}

.boxInfoProduct p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
}

.infoPrice{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.price{
    font-size: 160%;
    font-weight: bolder;
    color: black;
}

.priceOri{
    color: gray;
    text-decoration: line-through;
    /* font-weight: bolder; */
    font-size: 110%;
}

.pricePix{
    color: black;
    font-weight: bolder;
}

.paymentDetails{
    text-decoration: none;
    color: rgb(3, 98, 153);
}

.boxBtnsSize{
    /* background-color: blue; */
}

.btnSize{
    padding: 5px;
    font-size: 110%;
    background-color: white;
    border: 1px solid black;
    transition: 0.5s;
}

.btnSize:hover{
    background-color: black;
    border-color: rgb(0, 0, 0);
    color: white;
}


.boxBuy{
    border: 1px solid;
    display: flex;
}

.boxBuy span{
    display: flex;
    align-items: center;
    padding: 10px;
}

.btnQuant{
    padding: 5px 10px;
    border: 0px;
    font-size: 150%;
    background-color: white;
}

.btnQuant:hover{
    background-color: rgb(218, 218, 218);
}

.btnBuy{
    background-color: black;
    border: 0px;
    color: white;
    flex: 1;
    font-size: 110%;
    /* animation: balancar 2s infinite linear; */
}

.btnFreight{
    background-color: aliceblue;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
}

.boxFreight{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    padding: 10px 0px 0px 10px;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
    height: 0px;
    overflow: hidden;
    transition: 1s;
}


.hidden{
    animation: hidden 1s forwards linear;
}

.visible{
    animation: visible 1s forwards linear;
}


.sizeInds{
    opacity: 0.2;
}

.sizeInds:hover{
    background-color: transparent;  
    color: black;  
    cursor: no-drop;
}

@keyframes hidden {

    100%{
        height: 0px;
    }
    
}


@keyframes visible {

    100%{
        height: auto;
    }
    
}

.boxFreight p {
    width: 100%;
}

.boxFreight input{
    font-size: 15px;
    outline: none;
    padding: 5px;
    border: 1px solid black;
}

.boxFreight button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding-inline: 10px;
}

.toShare span{
    font-size: 1rem;
}



@keyframes balancar {

    0%{
        transform: rotate(0deg);
    }

    49%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(5deg);
    }

    60%{
        transform: rotate(-5deg);
    }

    70%{
        transform: rotate(5deg);
    }

    80%{
        transform: rotate(-5deg);
    }

    90%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(0deg);
    }
    
}

@media screen and (max-width: 700px) {

    
.boxImgsProduct{
    width: 100%;
    padding: 0px;
}


.boxInfoProduct{
    max-width: 500px;
    width: 100%;
    padding: 0px;
}

.boxProduct{
    padding: 0px;
}

}